# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Houdini Download Folders
hou_download/

# Flask stuff:
instance/
.webassets-cache

# Webpack
*.bundle.js

# NPM
node_modules/

# Vite
dist

# Environments
.idea/
.env
.venv
.idea/
env/
venv/
ENV/
env.bak/
venv.bak/
