<div id="graph-container">
	<div id="context-container">
		<div id="context-display">
			<div id="button-container"></div>
		</div>
	</div>
	<div class="other-contexts-menu">
		<ul>
			<li id="other-context-holder"></li>
		</ul>
	</div>
	<div id="cy">
		<!-- Cytoscape graph will be rendered here -->
	</div>
	<div class="globalRender">
		<div id="global-holder">
			<div id="global-frame-info-holder">
				<div id="global-frame-input-container">
					<label id="global-start-label" for="global-start-frame">Frame Range</label>
					<input type="number" id="global-start-frame" name="startFrame" min="1" class="frame-input">
					<input type="number" id="global-end-frame" name="endFrame" min="1" class="frame-input">
				</div>
				<div class="global-cooking-bar" id="cooking-bar"></div>
			</div>
			<button id="renderAllBtn">Render Context</button>
		</div>
	</div>
</div>